.container{
    max-width: 1000px;
    padding-top: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.header{
    display: flex;
}

 .invoice{
    position: relative;
    left: 800px
}
 .invoice p{
    position: relative;
    bottom: 20px
}

.receiver{
   position: relative;
}
.receiver h4{
   position: relative;
   bottom: 40px
}
.receiver p{
   position: relative;
   left: 80px
}

.isn{
    position: relative;
    top: 240px;
    right: 275px
}